.personal-info-container {
    height: 400px;
    width: 100%;

}

.step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    text-transform: none;
    padding: 0;
    margin-bottom: 3em;
}

.title p {
    color: black;
}


.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    gap: 0.5em;
}

input {
    padding: 1em;
    border-radius: 0.5em;
    border: solid 1px hsl(231, 11%, 63%);
    background-color: none;
}

input :focus {
    border: none;
    outline: none;
}