*{
    padding: 0;
    margin: 0;
}


.title p{
    text-transform: lowercase;
}

.title{
    padding: 0em 6em;
}

.plan-selection{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}


section{
    border: solid 1px rgb(204, 202, 202);
    height: 150px;
    width: 150px;
    margin: auto;
    cursor: pointer;
}

section:focus {
    border: solid 1px black;
  }


button{
    background-color: black;
}